body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.toast-success-container {
  color: #000 !important;
  background: #d9ffd9 !important;
}

.toast-error-container {
  color: #000 !important;
  background: #fdd !important;
}

.toast-info-container {
  color: blue !important;
  background: #e1f6ff !important;
}