body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.toast-success-container {
  color: #fff !important;
  border-bottom-right-radius: 8px !important;
  border-bottom-left-radius: 8px !important;
  background: #007300 !important;
}

.toast-error-container {
  color: red !important;
  border-bottom-right-radius: 8px !important;
  border-bottom-left-radius: 8px !important;
  background: red !important;
}

.toast-info-container {
  color: blue !important;
  border-bottom-right-radius: 8px !important;
  border-bottom-left-radius: 8px !important;
  background: blue !important;
}